*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #111;
    color: #fff;
}

.nav3{
    display: flex;
    gap: 40px;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
}

